body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}

#form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    display: block;
    margin-top: 5px;
}
button {
    margin-top: 10px;
}